<div class="alert bg-dark text-white">Success! I sent you an email to verify you're <code><%= params[:newsletter][:email_address] %></code>. Once you click it, you'll get my really fun-to-read newsletter the second Wednesday of each month.</div>
